*{
  margin: 0px;
  padding: 0px;
}

.mainColorsAndFont{
  background-color: black;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.minHeight{
  min-height: 100vh;
}